fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-text-splitters
langchain_groq
langchain_community
pypdf
groq
faiss-cpu
langchain_core
langchain_groq
langchain_text_splitters
langchain_huggingface
sentence-transformers
duckduckgo-search
wikipedia
arxiv
pillow
pytesseract